<div class="col-sm">
    <blockquote class="blockquote">
        <div class="row">
            <div class="col-sm-auto">
                Preparation&nbsp;{PREPARE_TIME}
            </div>
            <div class="col-sm-auto">
                Cooking&nbsp;{COOKING_TIME}
            </div>
            <div class="col-sm-auto">
                Total&nbsp;<strong class="text-muted">{TOTAL_TIME}</strong>
            </div>
        </div>
        <footer class="blockquote-footer"><i class="fa fa-clock-o"></i>&nbsp;Time</footer>
    </blockquote>
</div>