{IMAGE_FILENAME}
<p><h2>{INGREDIENT}</h2></p>
<hr>
<p class="lead">{DESCRIPTION}</p>
<blockquote class="blockquote">
    <p class="mb-0">{ALT_SEARCH_TERMS}</p>
    <footer class="blockquote-footer">Alternate Search Terms</footer>
</blockquote>
<blockquote class="blockquote">
    <p class="mb-0">{RESTRICTIONS_LINKS}</p>
    <footer class="blockquote-footer">Dietary Restrictions</footer>
</blockquote>
<br>
<a href="javascript:history.back()"><button class="btn btn-secondary" type="button">Go Back</button></a>
<a href="/ingredient/manage/approve/{INGREDIENT_ID}"><button class="btn btn-success{BTN_APPROVE_DISPALY}" type="button">Approve</button></a>
<a href="/ingredient/manage/edit/{INGREDIENT_ID}"><button class="btn btn-primary{BTN_EDIT_DISPALY}" type="button">Edit</button></a>
<br><br><br>
