<img class="img-fluid rounded" src="{IMAGE_FILENAME}" alt="Equipment Image">
<hr>
<p><h2>{EQUIPMENT}</h2></p>
<hr>
<p class="lead">{DESCRIPTION}</p>
<blockquote class="blockquote">
  <p class="mb-0">{MANUFACTURER}</p>
  <footer class="blockquote-footer">Manufacturer</footer>
</blockquote>
<br>
<a href="/equipment/manage/edit/{EQUIPMENT_ID}"><button class="btn btn-primary{BTN_EDIT_DISPALY}" type="button">Edit</button></a>
<a href="/equipment/manage/"><button class="btn btn-secondary pull-right" type="button">Back to List</button></a>
<br><br>
