<div id="{SLIDER_ID}" class="carousel slide" data-ride="carousel" data-keyboard="true" data-touch="true">
    <ol class="carousel-indicators">
        {CAROUSEL_OL}
    </ol>
    <div class="carousel-inner">
        {CAROUSEL_DIV}
    </div>
    <a class="carousel-control-prev" href="#{SLIDER_ID}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{SLIDER_ID}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>