<div class="col-sm-auto">
    <div class="card mt-3">
        <div class="card-body bg-light p-1">
            <img src="/images/{PRODUCT}/{IMG_FILENAME}_tn.jpg" width="200" class="img-thumbnail img-fluid" alt="Remove">
        </div>
        <div class="card-footer p-2">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input name="remove_image[{IMG_FILENAME}]" type="checkbox" class="custom-control-input" value="on" id="removeImage{IMG_FILENAME}">
                <label class="custom-control-label" for="removeImage{IMG_FILENAME}">Remove</label>
            </div>
        </div>
    </div>
</div>