<div class="col-sm-auto">
    <div class="card mt-3">
        <div class="card-body p-2 {HIGHLIGHT}">
            <img src="/images/{PRODUCT}/{IMG_FILENAME}_tn.jpg" class="img-thumbnail img-fluid" alt="Step Image">
        </div>
        <div class="card-footer p-2">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input name="step_image[]" {CHECKED} value="{IMG_FILENAME}" id="stepImage{IMG_FILENAME}" type="checkbox" class="custom-control-input">
                <label class="custom-control-label" for="stepImage{IMG_FILENAME}">Selected</label>
            </div>
        </div>
    </div>
</div>