<div class="col-sm-auto">
    <div class="card mt-3 step-image-card" id="{IMG_FILENAME}">
        <div class="card-body p-2">
            <a class="link-enlarge"
               title="Enlarge"
               data-img-id="/images/recipe/{IMG_FILENAME}_lg.jpg"
               data-recipe-id="{RECIPE-ID}"
               data-current="{IMG_FILENAME}"
               data-toggle="modal"
               data-target="#img-enlarge"
               href="#">
                <img width="200" src="/images/{PRODUCT}/{IMG_FILENAME}_tn.jpg" class="img-thumbnail img-fluid" alt="Instruction Image">
            </a>
        </div>
    </div>
</div>