<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlackBook | {DISH_TITLE}</title>
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid">

    <!-- Dish Title -->
    <h2>{DISH_TITLE}</h2>

    <!-- Dish Subtitle -->
    <h4>{DISH_SUBTITLE}</h4>

    <!-- Description. /templates/Generalinfo/Print/description.html -->
    {DESCRIPTION}

    <!-- Presrntation Images (optional). Edit: /templates/Dish/Print/presentation_images.html -->
    {PRESENTATION_IMAGES}

    <!-- Source. /templates/Generalinfo/Print/source.html -->
    {SOURCE}

    <!-- Author. /templates/Generalinfo/Print/author.html -->
    {AUTHOR}

    <!-- Approved By. /templates/Generalinfo/Print/approved.html -->
    {APPROVED}

    <!-- Date Added. /templates/Generalinfo/Print/date_added.html -->
    {DATE_ADDED}

    <!-- Date Modified. /templates/Generalinfo/Print/date_modified.html -->
    {DATE_MODIFIED}

    <!-- Categories. /templates/Generalinfo/Print/categories.html -->
    {CATEGORIES}

    <!-- Dietary Restrictions. /templates/Generalinfo/Print/restrictions.html -->
    {DIETARY_RESTRICTIONS}

    <!-- Notes. /templates/Generalinfo/Print/notes.html -->
    {NOTES}

    <!-- List Recipes.
         Container: /templates/Dish/Print/dish_recipes_container.html
         Rows: /templates/Dish/Print/dish_recipes.html -->
    {LIST_RECIPES}

    <!-- Dish Ingredients.
         Container: /templates/Dish/Print/dish_ingredients_container.html
         Rows: /templates/Recipe/View/recipe_ingredients.html -->
    {DISH_INGREDIENTS}

    <!-- Dish Assembly Steps.
         Container: /templates/Dish/Print/dish_instructions_container.html
         Rows: /templates/Dish/View/dish_instructions.html -->
    {DISH_ASSEMBLY_STEPS}

</div>
</body>
</html>