<div class="col-lg-auto lead pr-0 pull-right">
    <span class="fa fa-exchange-alt"></span>
    Convert To:
</div>
<div class="col-lg-auto">
    <select id="convert-select" class="form-control mr-sm-2">
        <option value=""></option>
        <optgroup label="US Imperial">
            <option unit="lb" value="Pound">Pounds</option>
            <option unit="oz" value="Ounce">Ounce</option>
        </optgroup>
        <optgroup label="Metric">
            <option unit="kg" value="Kilogramm">Kilograms</option>
            <option unit="g" value="Gramm">Grams</option>
        </optgroup>
    </select>
</div>