<div class="col-lg-auto lead pr-0 pull-right">
    <span class="fa fa-exchange-alt"></span>
    Convert To:
</div>
<div class="col-lg-auto">
    <select id="convert-select" class="form-control mr-sm-2">
        <option value=""></option>
        <optgroup label="US Imperial">
            <option unit="pt" value="Pint(US)">Pints</option>
            <option unit="fl oz" value="Fluid Ounze(US)">Fl Ounce</option>
            <option unit="cup" value="Cup(US)">Cups</option>
            <option unit="tbsp" value="Tablespoon(US)">Tablespoons</option>
            <option unit="tsp" value="Teaspoon(US)">Teaspoons</option>
        </optgroup>
        <optgroup label="Metric">
            <option unit="l" value="Liter">Litres</option>
            <option unit="ml" value="Milliliter">Millilitres</option>
        </optgroup>
    </select>
</div>