<div class="col-lg-auto lead pr-0 pull-right font-weight-normal">
    <span class="fa fa-exchange-alt"></span>
    Convert To:
</div>
<div class="col-lg-auto">
    <select id="convert-select" class="form-control mr-sm-2">
        <option value=""></option>
        <optgroup label="US Imperial Weight">
            <option type="Weight" unit="lb" value="Pound">Pounds</option>
            <option type="Weight" unit="oz" value="Ounce">Ounce</option>
        </optgroup>
        <optgroup label="Metric Weight">
            <option type="Weight" unit="kg" value="Kilogramm">Kilograms</option>
            <option type="Weight" unit="g" value="Gramm">Grams</option>
        </optgroup>
        <optgroup label="US Imperial Volume">
            <option type="Volume" unit="pt" value="Pint(US)">Pints</option>
            <option type="Volume" unit="fl oz" value="Fluid Ounze(US)">Fl Ounce</option>
            <option type="Volume" unit="cup" value="Cup(US)">Cups</option>
            <option type="Volume" unit="tbsp" value="Tablespoon(US)">Tablespoons</option>
            <option type="Volume" unit="tsp" value="Teaspoon(US)">Teaspoons</option>
        </optgroup>
        <optgroup label="Metric Volume">
            <option type="Volume" unit="l" value="Liter">Litres</option>
            <option type="Volume" unit="ml" value="Milliliter">Millilitres</option>
        </optgroup>
    </select>
</div>