<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlackBook | {META_TITLE}</title>
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid">

    <!-- Recipe Title -->
    <h2>{RECIPE_TITLE}</h2>

    <!-- Alternative Search Term -->
    <h4>{ALT_SEARCH_TERM}</h4>

    <!-- Description. /templates/Generalinfo/Print/description.html -->
    {DESCRIPTION}

    <!-- Presrntation Images (optional). Edit: /templates/Recipe/Print/presentation_images.html -->
    {PRESENTATION_IMAGES}

    <!-- Preparation Times. /templates/Generalinfo/Print/times.html -->
    {PREPARATION_TIMES}

    <!-- Source. /templates/Generalinfo/Print/source.html -->
    {SOURCE}

    <!-- Author. /templates/Generalinfo/Print/author.html -->
    {AUTHOR}

    <!-- Approved By. /templates/Generalinfo/Print/approved.html -->
    {APPROVED}

    <!-- Date Added. /templates/Generalinfo/Print/date_added.html -->
    {DATE_ADDED}

    <!-- Date Modified. /templates/Generalinfo/Print/date_modified.html -->
    {DATE_MODIFIED}

    <!-- Yield. /templates/Recipe/Print/yield.html -->
    {YIELD}

    <!-- Categories. /templates/Generalinfo/Print/categories.html -->
    {CATEGORIES}

    <!-- Dietary Restrictions. /templates/Generalinfo/Print/restrictions.html -->
    {DIETARY_RESTRICTIONS}

    <!-- Ingredients List.
         Container: /templates/Recipe/Print/recipe_ingredients_container.html
         Rows: /templates/Recipe/Print/print_recipe_ingredients.html-->
    {INGREDIENTS}

    <!-- Equipment.
         Container: /templates/Recipe/Print/recipe_equipment_container.html
         Rows: /templates/Recipe/View/recipe_equipment.html -->
    {EQUIPMENT}

    <!-- Instructions Steps.
         Container: /templates/Recipe/Print/recipe_instructions_container.html
         Rows: /templates/Recipe/View/recipe_steps.html -->
    {INSTRUCTIONS}

    <!-- Step Images (optional). Edit: /templates/Recipe/Print/step_images.html -->
    {STEPS_IMAGES}

</div>
</body>
</html>