<form action="/dish/manage/new/" method="post" id="createDishForm" enctype="multipart/form-data">
    <div class="card mb-3">
        <div class="card-header bg-secondary text-white"><h5>General Information</h5></div>
        <div class="card-body bg-light">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dishTite">Dish Title​</label>
                    <input name="dish_title" type="text" class="form-control" id="dishTite">
                </div>
                <div class="form-group col-md-6">
                    <label for="dishSubtitle">Dish Subtitle</label>
                    <input name="dish_subtitle" type="text" class="form-control" id="dishSubtitle">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="source">Source</label>
                    <input name="source" type="text" class="form-control" id="source">
                </div>
                <div class="form-group col-md-6">
                    <label for="source_link">Source Link</label>
                    <input name="source_link" type="text" class="form-control" id="source_link">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" id="description" rows="3"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="notes">Notes</label>
                    <textarea name="notes" id="notes" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Marking</label>
                    <textarea name="this_marking" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group col-md-4">
                    <label>Wine Pairing</label>
                    <textarea name="this_wine_pairing" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group col-md-4">
                    <label>China</label>
                    <input type="text" class="ac-china form-control mb-3" placeholder="Start typing to find items">
                    <input name="this_china_id" type="hidden" class="china_hidden">
                    <label>Primary/Original Dish Date</label>
                    <input name="dish_date" type="date" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fohKitchenAssembly">Kitchen Assembly</label>
                    <textarea name="foh_kitchen_assembly" class="form-control" id="fohKitchenAssembly" rows="3"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="fohDiningAssembly">Dining Assembly</label>
                    <textarea name="foh_dining_assembly" id="fohDiningAssembly" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fohPurveyors">Purveyors</label>
                    <textarea name="foh_purveyors" id="fohPurveyors" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group col-md-3">
                    <label>Presentation Images</label>
                    <input name="image_id[]" type="file" class="form-control-file" style="border: none;" accept="image/*" multiple>
                    <small class="form-text text-muted">Hold Ctrl button and click to select multiple files.</small>
                </div>
                <div class="controls-cat form-group col-md-3">
                    <label>Categories</label>
                    <div>
                        <div class="entry-cat input-group mb-3">
                            <input name="category_id[]" type="hidden" class="cat_hidden">
                            <input name="category_name" type="text" class="ac-cat form-control" placeholder="Start typing to find items">
                            <div class="input-group-append">
                                <span class="add-cat input-group-text"><span class="fa fa-plus"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header bg-secondary text-white"><h5>Alternatives | <small>Click <span class="fa fa-plus"></span> on the right to add another Date. Click <span class="fa fa-minus"></span> to remove.</small></h5></div>
        <div class="controls-date card-body bg-light">
            <div>
                <div class="entry-date form-row">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Date</label>
                            <input name="date[]" type="date" class="form-control">
                        </div>
                        <div class="form-group col-md-5">
                            <label>Alternative Title</label>
                            <input name="alternative_title[]" type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Alternative Subitle</label>
                            <input name="alternative_subtitle[]" type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Marking</label>
                            <textarea name="marking[]" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Wine Pairing</label>
                            <textarea name="wine_pairing[]" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label>China</label>
                            <input type="text" class="ac-china form-control" placeholder="Start typing to find items">
                            <input name="china_id[]" type="hidden" class="china_hidden">
                            <button class="add-date btn btn-secondary pull-right mt-3" type="button"><span class="fa fa-plus"></span> </button>
                        </div>
                    </div>
                    <div class="form-row w-100">
                        <hr class="w-100 bg-primary">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center justify-content-center mb-5 mt-5">
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Save &amp; Continue <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</form>