<div class="entry-rec form-row">
    <div class="form-group col-md-6">
        <input type="text" value="{recipe_title}" class="ac-rec form-control" placeholder="Start typing to find items">
        <input name="recipe_id[]" value="{recipe_id}" type="hidden" class="rec_hidden">
    </div>
    <div class="form-group col-md-6">
        <div class="input-group">
            <input name="recipe_option[]" value="{recipe_option}" type="text" class="form-control">
            <div class="input-group-append">
                <span class="delete-rec plus-cursor input-group-text"><span class="fa fa-minus"></span></span>
            </div>
        </div>
    </div>
</div>