<li class="nav-item{recipe}">
    <a class="nav-link" href="/recipe/">Recipes</a>
</li>
<li class="nav-item{dish}">
    <a class="nav-link" href="/dish/">Dishes</a>
</li>
<li class="nav-item{recipe-manage-new}">
    <a class="nav-link" href="/recipe/manage/new/">Create Recipe</a>
</li>
<li class="nav-item{dish-manage-new}">
    <a class="nav-link" href="/dish/manage/new/">Create Dish</a>
</li>
<li class="nav-item{ingredient-manage}">
    <a class="nav-link" href="/ingredient/manage/">Create Ingredient</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle{dish-manage}{recipe-manage}{equipment-manage}{china-manage}{categories-manage}{users}" href="#" id="navbarDropdownLogged" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {LOGGED_FULL_NAME} | {LOGGED_ROLE}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLogged">
        <a class="dropdown-item{dish-manage}" href="/dish/manage/">Manage Dishes</a>
        <a class="dropdown-item{recipe-manage}" href="/recipe/manage/">Manage Recipes</a>
        <a class="dropdown-item{equipment-manage}" href="/equipment/manage/">Manage Equipment</a>
        <a class="dropdown-item{china-manage}" href="/china/manage/">Manage China</a>
        <a class="dropdown-item{categories-manage}" href="/categories/manage/">Manage Categories</a>
        <a class="dropdown-item{users}" href="/users/">Manage Users</a>
        <a class="dropdown-item" href="/login/logout/">Logout</a>
    </div>
</li>