<li class="nav-item{users}">
    <a class="nav-link" href="/users/">Manage Users</a>
</li>
<li class="nav-item{ingredient-manage}">
    <a class="nav-link" href="/ingredient/manage/">Manage Ingredients</a>
</li>
<li class="nav-item{dietary-manage}">
    <a class="nav-link" href="/dietary/manage/">Manage Dietary Restrictions</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogged" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {LOGGED_FULL_NAME} | {LOGGED_ROLE}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLogged">
        <a class="dropdown-item" href="/login/logout/">Logout</a>
    </div>
</li>