<div class="col-sm-6 col-md-4 col-lg-3 align-items-stretch">
    <div class="card h-100">
        <div class="row align-items-center">
            <div class="col text-center">
                {THUMBNAIL}
            </div>
        </div>
        <div class="card-body{BACKGROUND}">
            <h5 class="card-title inconsolata font-weight-bold text-center">
                <a class="text-info" href="/{PRODUCT}/{ID}">{TITLE}</a>
                <hr class="my-2">
                <em class="font-weight-light">{SUBTITLE}</em>
            </h5>
            {DESCRIPTION}
            <hr class="my-2">
            {SOURCE}
            {AUTHOR}
        </div>
        <div class="card-footer bg-transparent">
            <small class="text-muted">{DATE_ADDED}</small>
        </div>
    </div>
</div>